/* Overlay */

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	pointer-events: default;
	position: relative;
	overflow-y:scroll;
	overflow-x:hidden;
	margin-top: 60px;
	margin-left: 10%;
	margin-right: 10%;
	max-height: 80%;
	width: 80%;
	padding: 15px 10px 10px 10px;
	border-radius: 10px;
	background: #666;
	background: -moz-linear-gradient(#666, #333);
	background: -webkit-linear-gradient(#666, #333);
	background: -o-linear-gradient(#666, #333);
}

.close {
	background: #666;
	background: -moz-linear-gradient(#666, #333);
	background: -webkit-linear-gradient(#666, #333);
	background: -o-linear-gradient(#666, #333);
	color: #f1634d;
	line-height: 30px;
	position: fixed;
	right: 10%;
	text-align: center;
	top: 45px;
	width: 9em;
	height: 30px;
	z-index: 99;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: #0078E1;
	background: -moz-linear-gradient(#0088F1, #0078E1);
	background: -webkit-linear-gradient(#0088F1, #0078E1);
	background: -o-linear-gradient(#0088F1, #0078E1);
}