<!-- Mentors and advisors -->
<hr class="people-separator">
<div class="people">
<h4 class="profile-header">Mentors & Advisors</h4>
<p>TechGrind mentors are the best local experts in various fields such as design, technology, finance, and bizops - as well as a select group of international experts, serial entrepreneurs, and investors who can help our companies build strong advisory boards and scale globally.</p>
<hr class="people-separator">
<h5 class="profile-subheader">Thailand & Southeast Asia</h5>
<ul>
	<li class="profile">
		<a href="https://www.linkedin.com/in/dealflow" target="_blank">
			<figure>
				<img class="profile-pic" src="./img/pics/partner_akiva.jpg"/>
				<div>
					<b class="profile-name">Akiva Katz</b>
					<i class="profile-title">Finance</i>
				</div>
			</figure>
		</a>
	</li>
	<li class="profile">
		<a href="http://www.silklegal.com" target="_blank">	
			<figure>
				<img class="profile-pic" src="./img/pics/mentor_jason.jpg"/>
				<div>
					<b class="profile-name">Jason Corbett</b>
					<i class="profile-title">MD, SilkLegal</i>
				</div>
			</figure>
		</a>
	</li>
	<li class="profile">
		<a href="http://www.morphos.is" target="_blank">	
			<figure>
				<img class="profile-pic" src="./img/pics/mentor_jeremie.jpg"/>
				<div>
					<b class="profile-name">Jeremie Tisseau</b>
					<i class="profile-title">CEO, Morphosis</i>
				</div>
			</figure>
		</a>
	</li>
	<li class="profile">
		<a href="https://th.linkedin.com/pub/mario-peng/8/a22/858" target="_blank">	
			<figure>
				<img class="profile-pic" src="./img/pics/mentor_mario.jpg"/>
				<div>
					<b class="profile-name">Mario Peng</b>
					<i class="profile-title">CFO, HotelQuickly</i>
				</div>
			</figure>
		</a>	
	</li>
	<li class="profile">
		<a href="https://www.linkedin.com/pub/moo-natavudh/5a/aab/aa0" target="_blank">	
			<figure>
				<img class="profile-pic" src="./img/pics/mentor_moo.jpg"/>
				<div>
					<b class="profile-name">Moo Natavudh</b>
					<i class="profile-title">CEO, ookbee</i>
				</div>
			</figure>
		</a>	
	</li>
	<li class="profile">
		<a href="https://www.linkedin.com/in/vikrambharati" target="_blank">
			<figure>
				<img class="profile-pic" src="./img/pics/partner_vikram.jpg"/>
				<div>
					<b class="profile-name">Vikram Bharati</b>
					<i class="profile-title">ex-VP, JP Morgan</i>
				</div>
			</figure>
		</a>
	</li>
	<li class="profile">
		<a href="http://linkedin.com/" target="_blank">		
			<figure>	
				<img class="profile-pic" src="./img/pics/mentor_zane.jpg"/>
				<div>
					<b class="profile-name">Zane Tan</b>
					<i class="profile-title">MD, Trexam Asia<br>MD, Favor Land</i>
				</div>
			</figure>	
		</a>		
	</li>
</ul>

<h5 class="profile-subheader">International</h5>
<ul>
	<li class="profile">
		<a href="https://www.linkedin.com/in/chrwalter" target="_blank">
			<figure>
				<img class="profile-pic" src="./img/pics/mentor_christian.jpg"/>
				<div>
					<b class="profile-name">Christian Walter</b>
					<i class="profile-title">MD, GeeXstar<br>Marketing, Google</i>
				</div>
			</figure>
		</a>
	</li>
	<li class="profile">
		<a href="https://www.linkedin.com/profile/view?id=113558898" target="_blank">		
			<figure>	
				<img class="profile-pic" src="./img/pics/mentor_martin.jpg"/>
				<div>
					<b class="profile-name">Martin Olczyk</b>
					<i class="profile-title">MD, GeeXstar<br>CFO, cunesoft</i>
				</div>
			</figure>
		</a>		
	</li>
	<li class="profile">
		<a href="https://www.linkedin.com/in/spikemorelli" target="_blank">		
			<figure>	
				<img class="profile-pic" src="./img/pics/mentor_spike.jpg"/>
				<div>
					<b class="profile-name">Spike Morelli</b>
					<i class="profile-title">CEO, SpikeLab<br>Founder, LSC</i>
				</div>
			</figure>
		</a>		
	</li>
	<li class="profile">
		<a href="https://www.linkedin.com/in/yoranbar" target="_blank">		
			<figure>	
				<img class="profile-pic" src="./img/pics/mentor_yoran.jpg"/>
				<div>
					<b class="profile-name">Yoran Bar</b>
					<i class="profile-title">Director, Hertzliya Accelerator (HAC)</i>
				</div>
			</figure>	
		</a>		
	</li>
</ul>
</div> <!-- End of Mentors & Advisors -->