<div class="people">
<h4 class="profile-header">Partners</h4>
<hr class="people-separator">
<h5 class="profile-subheader">Thailand & Southeast Asia</h5>
<ul>
	<li class="profile">
		<a href="http://www.serimanop.com/" target="_blank">		
			<figure>	
				<img class="profile-pic" src="./img/logos/partner_serimanopdoyle.png"/>
				<div>
					<b class="profile-name">Seri Manop & Doyle</b>
				</div>
			</figure>	
		</a>		
	</li>
	<li class="profile">
		<a href="http://www.kolibri.sg" target="_blank">		
			<figure>	
				<img class="profile-pic" src="./img/logos/partner_kolibri.png"/>
				<div>
					<b class="profile-name">Kolibri</b>
				</div>
			</figure>	
		</a>		
	</li>
</ul>

<h5 class="profile-subheader">International</h5>
<ul>
	<li class="profile">
		<a href="http://www.3daystartup.org" target="_blank">		
			<figure>
				<img class="profile-pic" src="./img/logos/partner_3ds.png"/>
				<div>
					<b class="profile-name">3 Day Startup</b>
				</div>
			</figure>	
		</a>		
	</li>
	<li class="profile">
		<a href="https://aws.amazon.com/start-ups/" target="_blank">		
			<figure>	
				<img class="profile-pic" src="./img/logos/partner_amazon.png"/>
				<div>
					<b class="profile-name">Amazon</b>
				</div>
			</figure>	
		</a>		
	</li>
	<li class="profile">
		<a href="https://leanstack.com/accelerator/tech-grind" target="_blank">		
			<figure>	
				<img class="profile-pic" src="./img/logos/partner_leanstack.png"/>
				<div>
					<b class="profile-name">Lean Stack</b>
				</div>
			</figure>	
		</a>		
	</li>
	<li class="profile">
		<a href="http://www.microsoft.com/bizspark/" target="_blank">		
			<figure>	
				<img class="profile-pic" src="./img/logos/partner_msbizspark.png"/>
				<div>
					<b class="profile-name">Microsoft Bizspark</b>
				</div>
			</figure>	
		</a>		
	</li>
	<li class="profile">
		<a href="http://www.leanstartupcircle.com/" target="_blank">		
			<figure>	
				<img class="profile-pic" src="./img/logos/partner_lsc.png"/>
				<div>
					<b class="profile-name">Lean Startup Circle (LSC)</b>
				</div>
			</figure>	
		</a>		
	</li>
	<li class="profile">
		<a href="http://rackspacestartups.com/the-startup-program/" target="_blank">		
			<figure>
				<img class="profile-pic" src="./img/logos/partner_rackspace.png"/>
				<div>
					<b class="profile-name">Rackspace</b>
				</div>
			</figure>	
		</a>		
	</li>
	<li class="profile">
		<a href="http://rackspacestartups.com/the-startup-program/" target="_blank">		
			<figure>
				<img class="profile-pic" src="./img/logos/partner_ssw.png"/>
				<div>
					<b class="profile-name">SeedStarsWorld</b>
				</div>
			</figure>	
		</a>		
	</li>
	<li class="profile">
		<a href="http://rackspacestartups.com/the-startup-program/" target="_blank">		
			<figure>
				<img class="profile-pic" src="./img/logos/partner_softlayer.png"/>
				<div>
					<b class="profile-name">SoftLayer</b>
				</div>
			</figure>	
		</a>		
	</li>
</ul>
</div> <!-- End of Partners -->