<div class="box alt">
	<div class="row 50% uniform">
		<div class="3u"><span class="image fit boxhover"><a href="http://www.bamb.ninja" target="_blank"><img src="img/logos/logo_bamboo.png" alt="" /></a></span></div>
		<div class="3u"><span class="image fit boxhover"><a href="http://www.ekita.co" target="_blank"><img src="img/logos/logo_ekita.png" alt="" /></a></span></div>
		<div class="3u"><span class="image fit boxhover"><a href="http://www.komponant.com" target="_blank"><img src="img/logos/logo_komponant.png" alt="" /></a></span></div>
		<div class="3u"><span class="image fit boxhover"><a href="http://www.hehebuddy.com" target="_blank"><img src="img/logos/logo_hehebuddy.png" alt="" /></a></span></div>
	</div>
	<div class="row 50% uniform">
		<div class="3u"><span class="image fit boxhover"><a href="http://www.s1k.com" target="_blank"><img src="img/logos/logo_s1k.png" alt="" /></a></span></div>
		<div class="3u"><span class="image fit boxhover"><a href="http://www.pymlo.com/" target="_blank"><img src="img/logos/logo_pymlo.png" alt="" /></a></span></div>
		<div class="3u"><span class="image fit boxhover"><a href="http://www.venvast.com" target="_blank"><img src="img/logos/logo_venvast.png" alt="" /></a></span></div>
		<div class="3u"><span class="image fit boxhover"><a href="http://www.awsom.co" target="_blank"><img src="img/logos/logo_awsom-sqr.png" alt="" /></a></span></div>
	</div>
	<div class="row 50% uniform">
		<div class="3u"><span class="image fit boxhover"><a href="http://www.wheretofin.com" target="_blank"><img src="img/logos/logo_wtfbkk.png" alt="" /></a></span></div>
		<div class="3u"><span class="image fit boxhover"><a href="http://www.ohmygeorge.com/" target="_blank"><img src="img/logos/logo_omg.png"/></a></span></div>
		<div class="3u"><span class="image fit boxhover"><a href="http://www.topdocsthailand.com/" target="_blank"><img src="img/logos/logo_topdocs.png" alt="" /></a></span></div>
	</div>
	<div class="row 50% uniform">
	</div>
	<!--div class="row 50% uniform">
		<div class="4u"><span class="image fit boxhover"><a href="http://www.facebook.com/globalisers" target="_blank"><img src="img/logos/logo_globaliser.png" alt="" /></a></span></div>
		<div class="4u"><span class="image fit boxhover"><a href="http://" target="_blank"><img src="img/logos/" alt="" /></a></span></div>
		<div class="4u"><span class="image fit boxhover"><a href="http://" target="_blank"><img src="img/logos/" alt="" /></a></span></div>
		<div class="4u"><span class="image fit boxhover"><a href="#" target="_blank"><img src="img/logos/logo-placeholder.png" alt="" /></a></span></div>
	</div-->
</div>