<div class="box alt">
	<div class="row 50% uniform">
		<div class="2u"><span class="image fit boxhover"><a href="http://www.facebook.com/globalisers" target="_blank"><img src="img/logos/logo_globaliser.png" alt="" /></a></span></div>
		<div class="2u"><span class="image fit boxhover"><a href="http://www.kiidu.com" target="_blank"><img src="img/logos/logo_kiidu.png" alt="" /></a></span></div>
		<div class="2u"><span class="image fit boxhover"><a href="http://www.checkdi.com" target="_blank"><img src="img/logos/logo_checkdi.png" alt="" /></a></span></div>
		<div class="2u"><span class="image fit boxhover"><a href="http://www.smipter.com" target="_blank"><img src="img/logos/logo_smipter.png" alt="" /></a></span></div>
	</div>
</div>