<!-- Team -->
<div class="people">
<h4 class="profile-header">TechGrind Team</h4>
<p>The team at TechGrind consists of some of the most successful serial tech entrepreneurs currently present in Southeast Asia. Our team has built a collective $10bn+ in technology companies over the past 20+ years. We know how to get you there too.</p>
<hr class="people-separator">
<h5 class="profile-subheader">General Partners</h5>
<ul>
	<li class="profile">
		<a href="https://www.linkedin.com/in/efraimpi" target="_blank">
			<figure>
				<img class="profile-pic" src="./img/pics/partner_efraim.jpg"/>
				<div>
					<b class="profile-name">Efraim<br>Petterson Ivener</b>
					<i class="profile-title"><b>Technology</b></i>
				</div>
			</figure>
		</a>
	</li>
	<li class="profile">
		<a href="https://www.linkedin.com/in/pavellaletin" target="_blank">
			<figure>
				<img class="profile-pic" src="./img/pics/partner_pavel.jpg"/>
				<div>
					<b class="profile-name">Pavel<br>Laletin</b>
					<i class="profile-title"><b>Operations</b></i>
				</div>
			</figure>
		</a>
	</li>
	<li class="profile">
		<a href="https://www.linkedin.com/pub/patrick-monaco-sorge/8/341/611" target="_blank">
			<figure>
				<img class="profile-pic" src="./img/pics/partner_patrick.jpg"/>
				<div>
					<b class="profile-name">Patrick<br>Monaco-Sorge</b>
					<i class="profile-title"><b>Strategy</b></i>
				</div>
			</figure>
		</a>
	</li>
	<li class="profile">
		<a href="https://www.linkedin.com/in/prompairojj" target="_blank">
			<figure>
				<img class="profile-pic" src="./img/pics/partner_ken.jpg"/>
				<div>
					<b class="profile-name">Prompairoj 'Ken'<br>Jayaphorn</b>
					<i class="profile-title"><b>Relations</b></i>
				</div>
			</figure>
		</a>
	</li>
	<li class="profile">
		<a href="https://www.linkedin.com/in/colin-jolly-24975814" target="_blank">
			<figure>	
				<img class="profile-pic" src="./img/pics/partner_colin.jpg"/>
				<div>
					<b class="profile-name">Colin<br>Jolly</b>
					<i class="profile-title"><b>Finance</b></i>
				</div>
			</figure>
		</a>
	</li>
</ul>

<h5 class="profile-subheader">Entrepreneurs In Residence</h5>
<ul>
	<li class="profile">
		<a href="https://in.linkedin.com/in/shabbir-shamsuddin-0134232a" target="_blank">
			<figure>	
				<img class="profile-pic" src="./img/pics/partner_shabbir.jpg"/>
				<div>
					<b class="profile-name">Shabir<br>Shamsuddin</b>
					<i class="profile-title">Bizdev</i>
				</div>
			</figure>
		</a>
	</li>
	<li class="profile">
		<a href="https://uk.linkedin.com/in/steve-coppola-2a546428" target="_blank">
			<figure>	
				<img class="profile-pic" src="./img/pics/partner_steve.jpg"/>
				<div>
					<b class="profile-name">Steve<br>Coppolla</b>
					<i class="profile-title">Bizdev</i>
				</div>
			</figure>
		</a>
	</li>
	<li class="profile">
		<a href="https://www.linkedin.com/pub/tanasak-janpan/56/571/382" target="_blank">
			<figure>	
				<img class="profile-pic" src="./img/pics/partner_tanasak.jpg"/>
				<div>
					<b class="profile-name">Tanasak 'Best'<br>Janpan</b>
					<i class="profile-title">Engineering</i>
				</div>
			</figure>
		</a>
	</li>
	<li class="profile">
		<a href="https://www.linkedin.com/in/diegomoracespedes" target="_blank">
			<figure>	
				<img class="profile-pic" src="./img/pics/partner_diego.jpg"/>
				<div>
					<b class="profile-name">Diego Mora<br>Cespedes</b>
					<i class="profile-title">Engineering</i>
				</div>
			</figure>
		</a>
	</li>
	<li class="profile">
		<a href="https://www.linkedin.com/in/paulark" target="_blank">
			<figure>	
				<img class="profile-pic" src="./img/pics/profile-placeholder.jpg"/>
				<div>
					<b class="profile-name">Paul<br>Ark</b>
					<i class="profile-title">Finance</i>
				</div>
			</figure>
		</a>
	</li>
</ul>
</div> <!-- End of Team -->